extends layout

block products
  div.products_page.pg_0
    each product in products
      - var priceGold = parseFloat(product.priceGold).toFixed(2);
      - var priceGoldAlt = parseFloat(product.priceGoldAlt).toFixed(2);
      - var priceRetail = parseFloat(product.priceRetail).toFixed(2);
      - var priceRetailAlt = parseFloat(product.priceGoldAlt).toFixed(2);
      - var match = product.primaryImageUrl.match(/(.+)\.(.+)/);
      - var imagePath = match[1];
      - var imageExt = '.' + match[2];
      - var minImageUrl = imagePath + '_220x220_1' + imageExt;
      div.product.product_horizontal
        span.product_code Код: #{product.code.replace(/^0*/, '')}
        .product_status_tooltip_container
          span.product_status Наличие
        .product_photo
          a.url--link.product__link(href="#")
            img(src=minImageUrl)
        .product_description
          a.product__link(href="#")= product.title
        //- show assocProducts if there any
        - var assocProducts = product.assocProducts.length !== 0;
        if assocProducts
          .product_tags.hidden-sm
            p Могут понадобиться:
            - var assocProducts = product.assocProducts.split(';').map(i => i.replace('\n', '')).filter(i => i.length === 0 ? 0 : 1);
            each assocProduct in assocProducts
              a.url--link(href="#") #{assocProduct}, 
        - var hasAltUnit = product.unit !== product.unitAlt
        .product_units
          .unit--wrapper
            .unit--select.unit--active
              p.ng-binding За #{product.unit}
            if hasAltUnit
              .unit--select
                p.ng-binding За #{product.unitAlt}
        p.product_price_club_card
          span.product_price_club_card_text
            | По карте
            br
            | клуба
          span.goldPrice(
            data-gold=priceGold
            data-goldalt=priceGoldAlt
          )= priceGold
          span.rouble__i.black__i
            svg#rouble__b(version="1.0" xmlns="http://www.w3.org/2000/svg" x="0" y="0" width="30px" height="22px" viewbox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve")
              use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#rouble_black")
        p.product_price_default
          span.retailPrice(
            data-retail=priceRetail
            data-retailalt=priceRetailAlt
          )= priceRetail
          span.rouble__i.black__i
            svg#rouble__g(version="1.0" xmlns="http://www.w3.org/2000/svg" x="0" y="0" width="30px" height="22px" viewbox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve")
              use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#rouble_gray")
        .product_price_points
          //- random points
          - var points = ((Math.random() * (0.3 - 0.2) + 0.2) * product.priceRetail).toFixed(2);
          p.ng-binding Можно купить за #{points} балла
        .list--unit-padd
        if hasAltUnit
          .list--unit-desc
            .unit--info
              .unit--desc-i
              .unit--desc-t
                p
                  span.ng-binding Единица продажи: #{product.unit}
                  - var ratio = product.unitRatioAlt;
                  - var unitAltAmount = (1 / ratio).toFixed(2);
                  span.unit--infoInn #[span.unit--amount 1] #{product.unit} = #[span.unit--alt-amount #{unitAltAmount}] #{product.unitAlt}
        .product__wrapper
          .product_count_wrapper
            .stepper
              input.product__count.stepper-input(type="text" minvalue="1" value="1")
              span.stepper-arrow.up
              span.stepper-arrow.down
          span.btn.btn_cart(data-url="/cart/" data-product-id=product.productId)
            svg.ic.ic_cart
              use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cart")
              svg#cart(width="100%" height="100%")
                path(d="m14.571 16.381c.571 0 .952.381.952.952 0 .571-.381.952-.952.952-.571 0-.952-.381-.952-.952 0-.571.476-.952.952-.952m0-.952c-1.048 0-1.905.857-1.905 1.905 0 1.048.857 1.905 1.905 1.905 1.048 0 1.905-.857 1.905-1.905 0-1.048-.857-1.905-1.905-1.905")
                path(d="m7.905 16.381c.571 0 .952.381.952.952 0 .571-.381.952-.952.952-.571 0-.952-.381-.952-.952 0-.571.476-.952.952-.952m0-.952c-1.048 0-1.905.857-1.905 1.905 0 1.048.857 1.905 1.905 1.905 1.048 0 1.905-.857 1.905-1.905 0-1.048-.857-1.905-1.905-1.905")
                path(d="m16.476 14.476h-10.857l-.095-.381c0-.095-1.429-9.714-1.905-11.524-.381-1.524-3.333-1.429-3.333-1.429v-.952c.095 0 3.714-.286 4.286 2.19.381 1.714 1.619 9.333 1.81 11.143h10.1v.952")
                path(d="m4.095 3.048h15.238v.952h-15.238z")
                path(d="m5.05 10.667h12.381v.952h-12.381z")
                path(d="m16.476 11.619h.952l1.905-8.571h-.952l-1.905 8.571")
            span.ng-binding В корзину
